*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    color: black;
}

body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: lightgray 0% 0% / 100px 100px repeat;
}


nav a{
    display: block;
}
.cabecalho {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding:10px;
}

.cabecalho-menu {
    display: flex;
    gap: 20px;
}


.cabecalho-social-media{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}



.banner{
    width: 100%;
    padding: 200px 0;
    display: flex;
    position: relative;
    gap: 30px;
    justify-content: center;
    align-items: center;
    font-size: 4vw;

}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10vb 0;
}

.subtitle{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px 0;
}

.lancamentos span{
    height: 100%;
    width: 100%;
    color: black;
}



.cards{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    padding: 20px;
}

.card{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    background-color: black;
}

.card span{
    color: white;
    display: none;

}


.rodape{
    background-color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 10px;
    margin-top: 50px;
}