*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
}

body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: lightgray 0% 0% / 100px 100px repeat;
}


.cabecalho {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    
}


.card{
    background-color: #D9D9D9;
    width: 300px;
    height: 300px;
    border-radius: 12px;
    box-shadow: 4px 4px 12px #aaaa;

    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;

}

/*.card div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4px;
    height: 50%;
}*/

.card img{
   
    
}

.card h1{
    font-size: 1.2rem;
}

.card h2{
    font-size: .9rem;
    color: #aaaa;
}

.card button{
    background-color: crimson;
    height: 30px;
    border: none;
    padding: 4px;
    width: 80%;
    color: white;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 12px;
}



.rodape{
    background-color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 10px;
}